### NaturDoc - TL BL WT 22-23

# Data clustering:

## Preparing Activity and Symptom Datasets for Word Embeddings:

Preparing our activities and symptoms data:

In [96]:
import numpy as np
import pandas as pd
from sklearn.datasets import make_blobs

## Data from the dataset:

#### Import duke activities:

In [105]:
duke_enriched_df = pd.read_json("./data/remedies.json")
activities_df = pd.read_json("./data/symptoms.json")

In [59]:
duke_enriched_df.head()

,remedyName,medicinalUses,commonNames,family,genus,species,vernacularNames,treatmentClinical,treatmentTraditional,treatmentFolk,contraindication,warnings,adverseEffects,posology,ratingAverage,totalNumberofRatings,popularityScore
0,Abelmoschus esculentus,"Abortifacient,Antidote,Boil,Burn,Catarrh,Coffe...","Huang Shu K'Uei,Bamia,Molondron,Quiabeiro,Gomb...",Malvaceae,Abelmoschus,esculentus,None,None,None,None,None,None,None,None,NaN,NaN,NaN
1,Abelmoschus manihot,"Antitussive,Boil,Cancer,Cancer(Stomach),Catarr...","Tororo-Aoi,Kastuli",Malvaceae,Abelmoschus,manihot,None,None,None,None,None,None,None,None,NaN,NaN,NaN
2,Abelmoschus moschatus,"Aphrodisiac,Asthma,Bite(Snake),Boil,Cancer,Car...","Musk Mallow,Moskus,Muskus,Mushk Dana,Ambercice...",Malvaceae,Abelmoschus,moschatus,None,None,None,None,None,None,None,None,NaN,NaN,NaN
3,Abies alba,"Bronchitis,Bruise,Calculus,Catarrh,Cough,Diure...","Abeto,Edeltanne,Beyaz Koknar,Silver Fir,Abeto ...",Pinaceae,Abies,alba,None,None,None,None,None,None,None,None,NaN,NaN,NaN
4,Abies balsamea,"Burn,Cancer,Cold,Cough,Heart,Masticatory,Sore,...","Balsam,Canada,Balsam Fir,Fir",Pinaceae,Abies,balsamea,None,None,None,None,None,None,None,None,NaN,NaN,NaN

In [106]:
activities_df.shape

(2109, 1)

In [107]:
activities_df.head()

     symptomName
0         Abcess
1        Abdomen
2  Abortifacient
3       Abortive
4       Abrasion

#### Import other list of symptoms:

In [65]:
gb_symptoms_df = pd.read_csv("./data/2022_country_weekly_2022_GB_weekly_symptoms_dataset.csv")

In [68]:
df_columns = list(gb_symptoms_df.columns)
print(df_columns[:15])

symptoms = list()

for col in df_columns:
    if "symptom:" not in col:
        continue
    col = col.replace("symptom:", "")
    col = col.capitalize()
    symptoms.append(col)

['country_region_code', 'country_region', 'sub_region_1', 'sub_region_1_code', 'sub_region_2', 'sub_region_2_code', 'place_id', 'date', 'symptom:Abdominal obesity', 'symptom:Abdominal pain', 'symptom:Acne', 'symptom:Actinic keratosis', 'symptom:Acute bronchitis', 'symptom:Adrenal crisis', 'symptom:Ageusia']

In [77]:
symptoms

['Abdominal obesity',
 'Abdominal pain',
 'Acne',
 'Actinic keratosis',
 'Acute bronchitis',
 'Adrenal crisis',
 'Ageusia',
 'Alcoholism',
 'Allergic conjunctivitis',
 'Allergy',
 'Amblyopia',
 'Amenorrhea',
 'Amnesia',
 'Anal fissure',
 'Anaphylaxis',
 'Anemia',
 'Angina pectoris',
 'Angioedema',
 'Angular cheilitis',
 'Anosmia',
 'Anxiety',
 'Aphasia',
 'Aphonia',
 'Apnea',
 'Arthralgia',
 'Arthritis',
 'Ascites',
 'Asperger syndrome',
 'Asphyxia',
 'Asthma',
 'Astigmatism',
 'Ataxia',
 'Atheroma',
 'Attention deficit hyperactivity disorder',
 'Auditory hallucination',
 'Autoimmune disease',
 'Avoidant personality disorder',
 'Back pain',
 'Bacterial vaginosis',
 'Balance disorder',
 "Beau's lines",
 "Bell's palsy",
 'Biliary colic',
 'Binge eating',
 'Bleeding',
 'Bleeding on probing',
 'Blepharospasm',
 'Bloating',
 'Blood in stool',
 'Blurred vision',
 'Blushing',
 'Boil',
 'Bone fracture',
 'Bone tumor',
 'Bowel obstruction',
 'Bradycardia',
 'Braxton hicks contractions',
 'Breakthrough bleeding',
 'Breast pain',
 'Bronchitis',
 'Bruise',
 'Bruxism',
 'Bunion',
 'Burn',
 'Burning chest pain',
 'Burning mouth syndrome',
 'Candidiasis',
 'Canker sore',
 'Cardiac arrest',
 'Carpal tunnel syndrome',
 'Cataplexy',
 'Cataract',
 'Chancre',
 'Cheilitis',
 'Chest pain',
 'Chills',
 'Chorea',
 'Chronic pain',
 'Cirrhosis',
 'Cleft lip and cleft palate',
 'Clouding of consciousness',
 'Cluster headache',
 'Colitis',
 'Coma',
 'Common cold',
 'Compulsive behavior',
 'Compulsive hoarding',
 'Confusion',
 'Congenital heart defect',
 'Conjunctivitis',
 'Constipation',
 'Convulsion',
 'Cough',
 'Crackles',
 'Cramp',
 'Crepitus',
 'Croup',
 'Cyanosis',
 'Dandruff',
 'Delayed onset muscle soreness',
 'Dementia',
 'Dentin hypersensitivity',
 'Depersonalization',
 'Depression',
 'Dermatitis',
 'Desquamation',
 'Developmental disability',
 'Diabetes',
 'Diabetic ketoacidosis',
 'Diarrhea',
 'Dizziness',
 'Dry eye syndrome',
 'Dysautonomia',
 'Dysgeusia',
 'Dysmenorrhea',
 'Dyspareunia',
 'Dysphagia',
 'Dysphoria',
 'Dystonia',
 'Dysuria',
 'Ear pain',
 'Eczema',
 'Edema',
 'Encephalitis',
 'Encephalopathy',
 'Epidermoid cyst',
 'Epilepsy',
 'Epiphora',
 'Erectile dysfunction',
 'Erythema',
 'Erythema chronicum migrans',
 'Esophagitis',
 'Excessive daytime sleepiness',
 'Eye pain',
 'Eye strain',
 'Facial nerve paralysis',
 'Facial swelling',
 'Fasciculation',
 'Fatigue',
 'Fatty liver disease',
 'Fecal incontinence',
 'Fever',
 'Fibrillation',
 'Fibrocystic breast changes',
 'Fibromyalgia',
 'Flatulence',
 'Floater',
 'Focal seizure',
 'Folate deficiency',
 'Food craving',
 'Food intolerance',
 'Frequent urination',
 'Gastroesophageal reflux disease',
 'Gastroparesis',
 'Generalized anxiety disorder',
 'Generalized tonic–clonic seizure',
 'Genital wart',
 'Gingival recession',
 'Gingivitis',
 'Globus pharyngis',
 'Goitre',
 'Gout',
 'Grandiosity',
 'Granuloma',
 'Guilt',
 'Hair loss',
 'Halitosis',
 'Hay fever',
 'Headache',
 'Heart arrhythmia',
 'Heart murmur',
 'Heartburn',
 'Hematochezia',
 'Hematoma',
 'Hematuria',
 'Hemolysis',
 'Hemoptysis',
 'Hemorrhoids',
 'Hepatic encephalopathy',
 'Hepatitis',
 'Hepatotoxicity',
 'Hiccup',
 'Hip pain',
 'Hives',
 'Hot flash',
 'Hydrocephalus',
 'Hypercalcaemia',
 'Hypercapnia',
 'Hypercholesterolemia',
 'Hyperemesis gravidarum',
 'Hyperglycemia',
 'Hyperkalemia',
 'Hyperlipidemia',
 'Hypermobility',
 'Hyperpigmentation',
 'Hypersomnia',
 'Hypertension',
 'Hyperthermia',
 'Hyperthyroidism',
 'Hypertriglyceridemia',
 'Hypertrophy',
 'Hyperventilation',
 'Hypocalcaemia',
 'Hypochondriasis',
 'Hypoglycemia',
 'Hypogonadism',
 'Hypokalemia',
 'Hypomania',
 'Hyponatremia',
 'Hypotension',
 'Hypothyroidism',
 'Hypoxemia',
 'Hypoxia',
 'Impetigo',
 'Implantation bleeding',
 'Impulsivity',
 'Indigestion',
 'Infection',
 'Inflammation',
 'Inflammatory bowel disease',
 'Ingrown hair',
 'Insomnia',
 'Insulin resistance',
 'Intermenstrual bleeding',
 'Intracranial pressure',
 'Iron deficiency',
 'Irregular menstruation',
 'Itch',
 'Jaundice',
 'Kidney failure',
 'Kidney stone',
 'Knee pain',
 'Kyphosis',
 'Lactose intolerance',
 'Laryngitis',
 'Leg cramps',
 'Lesion',
 'Leukorrhea',
 'Lightheadedness',
 'Low back pain',
 'Low-grade fever',
 'Lymphedema',
 'Major depressive disorder',
 'Malabsorption',
 'Male infertility',
 'Manic disorder',
 'Melasma',
 'Melena',
 'Meningitis',
 'Menorrhagia',
 'Middle back pain',
 'Migraine',
 'Milium',
 'Mitral insufficiency',
 'Mood disorder',
 'Mood swing',
 'Morning sickness',
 'Motion sickness',
 'Mouth ulcer',
 'Muscle atrophy',
 'Muscle weakness',
 'Myalgia',
 'Mydriasis',
 'Myocardial infarction',
 'Myoclonus',
 'Nasal congestion',
 'Nasal polyp',
 'Nausea',
 'Neck mass',
 'Neck pain',
 'Neonatal jaundice',
 'Nerve injury',
 'Neuralgia',
 'Neutropenia',
 'Night sweats',
 'Night terror',
 'Nocturnal enuresis',
 'Nodule',
 'Nosebleed',
 'Nystagmus',
 'Obesity',
 'Onychorrhexis',
 'Oral candidiasis',
 'Orthostatic hypotension',
 'Osteopenia',
 'Osteophyte',
 'Osteoporosis',
 'Otitis',
 'Otitis externa',
 'Otitis media',
 'Pain',
 'Palpitations',
 'Panic attack',
 'Papule',
 'Paranoia',
 'Paresthesia',
 'Pelvic inflammatory disease',
 'Pericarditis',
 'Periodontal disease',
 'Periorbital puffiness',
 'Peripheral neuropathy',
 'Perspiration',
 'Petechia',
 'Phlegm',
 'Photodermatitis',
 'Photophobia',
 'Photopsia',
 'Pleural effusion',
 'Pleurisy',
 'Pneumonia',
 'Podalgia',
 'Polycythemia',
 'Polydipsia',
 'Polyneuropathy',
 'Polyuria',
 'Poor posture',
 'Post-nasal drip',
 'Postural orthostatic tachycardia syndrome',
 'Prediabetes',
 'Proteinuria',
 'Pruritus ani',
 'Psychosis',
 'Ptosis',
 'Pulmonary edema',
 'Pulmonary hypertension',
 'Purpura',
 'Pus',
 'Pyelonephritis',
 'Radiculopathy',
 'Rectal pain',
 'Rectal prolapse',
 'Red eye',
 'Renal colic',
 'Restless legs syndrome',
 'Rheum',
 'Rhinitis',
 'Rhinorrhea',
 'Rosacea',
 'Round ligament pain',
 'Rumination',
 'Scar',
 'Sciatica',
 'Scoliosis',
 'Seborrheic dermatitis',
 'Self-harm',
 'Sensitivity to sound',
 'Sexual dysfunction',
 'Shallow breathing',
 'Sharp pain',
 'Shivering',
 'Shortness of breath',
 'Shyness',
 'Sinusitis',
 'Skin condition',
 'Skin rash',
 'Skin tag',
 'Skin ulcer',
 'Sleep apnea',
 'Sleep deprivation',
 'Sleep disorder',
 'Snoring',
 'Sore throat',
 'Spasticity',
 'Splenomegaly',
 'Sputum',
 'Stomach rumble',
 'Strabismus',
 'Stretch marks',
 'Stridor',
 'Stroke',
 'Stuttering',
 'Subdural hematoma',
 'Suicidal ideation',
 'Swelling',
 'Swollen feet',
 'Swollen lymph nodes',
 'Syncope',
 'Tachycardia',
 'Tachypnea',
 'Telangiectasia',
 'Tenderness',
 'Testicular pain',
 'Throat irritation',
 'Thrombocytopenia',
 'Thyroid nodule',
 'Tic',
 'Tinnitus',
 'Tonsillitis',
 'Toothache',
 'Tremor',
 'Trichoptilosis',
 'Tumor',
 'Type 2 diabetes',
 'Unconsciousness',
 'Underweight',
 'Upper respiratory tract infection',
 'Urethritis',
 'Urinary incontinence',
 'Urinary tract infection',
 'Urinary urgency',
 'Uterine contraction',
 'Vaginal bleeding',
 'Vaginal discharge',
 'Vaginitis',
 'Varicose veins',
 'Vasculitis',
 'Ventricular fibrillation',
 'Ventricular tachycardia',
 'Vertigo',
 'Viral pneumonia',
 'Visual acuity',
 'Vomiting',
 'Wart',
 'Water retention',
 'Weakness',
 'Weight gain',
 'Wheeze',
 'Xeroderma',
 'Xerostomia',
 'Yawn',
 'Hyperhidrosis',
 'Pancreatitis']

#### Concatenate duke activities and symptoms:

In [120]:
# activities = symptoms_df.values.tolist()
symptoms_df = pd.DataFrame(symptoms)
symptoms_df.rename(columns={0: "symptomName"}, inplace=True)
symptoms_df[["is_symptom", "is_activity"]] = (1, 0)
symptoms_df.head()

         symptomName  is_symptom  is_activity
0  Abdominal obesity           1            0
1     Abdominal pain           1            0
2               Acne           1            0
3  Actinic keratosis           1            0
4   Acute bronchitis           1            0

In [121]:
activities_df[["is_symptom", "is_activity"]] = (0, 1)
activities_df.head()

     symptomName  is_symptom  is_activity
0         Abcess           0            1
1        Abdomen           0            1
2  Abortifacient           0            1
3       Abortive           0            1
4       Abrasion           0            1

Only take the unique values!

In [198]:
print(len(activities_df))
print(len(symptoms_df))
activities_symptoms_df = pd.concat([activities_df, symptoms_df],axis=0)
print("Should be:", len(activities_df) + len(symptoms_df))
print("Is:", len(activities_symptoms_df))
activities_symptoms_df.reset_index(inplace=True)
activities_symptoms_df.drop(labels="index", axis=1, inplace=True)
activities_symptoms_df.head()

2109
422
Should be: 2531
Is: 2531

     symptomName  is_symptom  is_activity
0         Abcess           0            1
1        Abdomen           0            1
2  Abortifacient           0            1
3       Abortive           0            1
4       Abrasion           0            1

However, actually not all unique (combinations are, but some symptomNames were present in both):

In [199]:
activities_symptoms_df.nunique()

symptomName    2404
is_symptom        2
is_activity       2
dtype: int64

In [200]:
activities_symptoms_df["symptomName"]

0              Abcess
1             Abdomen
2       Abortifacient
3            Abortive
4            Abrasion
            ...
2526        Xeroderma
2527       Xerostomia
2528             Yawn
2529    Hyperhidrosis
2530     Pancreatitis
Name: symptomName, Length: 2531, dtype: object

In [202]:
activities_symptoms_df["symptomName"].duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
2526    False
2527    False
2528    False
2529    False
2530    False
Name: symptomName, Length: 2531, dtype: bool

In [203]:
duplicate_activities = (activities_symptoms_df["symptomName"].duplicated("last"))
filt_df = activities_symptoms_df[duplicate_activities]
filt_df

       symptomName  is_symptom  is_activity
23            Acne           0            1
38      Alcoholism           0            1
43         Allergy           0            1
47       Amblyopia           0            1
49      Amenorrhea           0            1
...            ...         ...          ...
1837        Wheeze           0            1
1996   Hypertrophy           0            1
1997  Hypoglycemia           0            1
2035       Purpura           0            1
2077      Vomiting           0            1

[127 rows x 3 columns]

In [204]:
duplicate_symptoms = (activities_symptoms_df["symptomName"].duplicated("first"))
filt_df = activities_symptoms_df[duplicate_symptoms]
filt_df

     symptomName  is_symptom  is_activity
2111        Acne           1            0
2116  Alcoholism           1            0
2118     Allergy           1            0
2119   Amblyopia           1            0
2120  Amenorrhea           1            0
...          ...         ...          ...
2517     Vertigo           1            0
2520    Vomiting           1            0
2521        Wart           1            0
2523    Weakness           1            0
2525      Wheeze           1            0

[127 rows x 3 columns]

In [208]:
duplicate_indices = filt_df.index
duplicate_indices

Int64Index([2111, 2116, 2118, 2119, 2120, 2121, 2124, 2129, 2133, 2134,
            ...
            2500, 2502, 2503, 2505, 2512, 2517, 2520, 2521, 2523, 2525],
           dtype='int64', length=127)

#### Adding a 1 to is_symptom for activities that are also symptoms:

In [209]:
activities_symptoms_df.loc[duplicate_activities, ["is_symptom"]] = 1
activities_symptoms_df[duplicate_activities].head()

   symptomName  is_symptom  is_activity
23        Acne           1            1
38  Alcoholism           1            1
43     Allergy           1            1
47   Amblyopia           1            1
49  Amenorrhea           1            1

In [210]:
activities_symptoms_df.iloc[23]

symptomName    Acne
is_symptom        1
is_activity       1
Name: 23, dtype: object

In [211]:
activities_symptoms_df.drop_duplicates(subset="symptomName")

        symptomName  is_symptom  is_activity
0            Abcess           0            1
1           Abdomen           0            1
2     Abortifacient           0            1
3          Abortive           0            1
4          Abrasion           0            1
...             ...         ...          ...
2526      Xeroderma           1            0
2527     Xerostomia           1            0
2528           Yawn           1            0
2529  Hyperhidrosis           1            0
2530   Pancreatitis           1            0

[2404 rows x 3 columns]

In [212]:
activities_symptoms_df.drop_duplicates(subset="symptomName", inplace=True)

In [213]:
activities_symptoms_df.head()

     symptomName  is_symptom  is_activity
0         Abcess           0            1
1        Abdomen           0            1
2  Abortifacient           0            1
3       Abortive           0            1
4       Abrasion           0            1

Verifying results:

In [214]:
filt = (activities_symptoms_df["is_symptom"] == 1) & (activities_symptoms_df["is_activity"] == 1)
filt_df = activities_symptoms_df[filt]
filt_df

       symptomName  is_symptom  is_activity
23            Acne           1            1
38      Alcoholism           1            1
43         Allergy           1            1
47       Amblyopia           1            1
49      Amenorrhea           1            1
...            ...         ...          ...
1837        Wheeze           1            1
1996   Hypertrophy           1            1
1997  Hypoglycemia           1            1
2035       Purpura           1            1
2077      Vomiting           1            1

[127 rows x 3 columns]

Resetting index:

In [225]:
activities_symptoms_df.reset_index(inplace=True)
activities_symptoms_df.drop(labels=["index"], axis=1, inplace=True)
activities_symptoms_df

        symptomName  is_symptom  is_activity
0            Abcess           0            1
1           Abdomen           0            1
2     Abortifacient           0            1
3          Abortive           0            1
4          Abrasion           0            1
...             ...         ...          ...
2399      Xeroderma           1            0
2400     Xerostomia           1            0
2401           Yawn           1            0
2402  Hyperhidrosis           1            0
2403   Pancreatitis           1            0

[2404 rows x 3 columns]

Export to csv

In [226]:
activities_symptoms_df.to_csv("./activities_symptoms_bool.csv")

In [95]:
# activities_symptoms_series = pd.Series(activities_symptoms_series)
# activities_symptoms_series.to_csv("./activities_symptoms.csv")